@import 'base/variables';
* {
    font-family: 'Museo Sans', sans-serif;
}
.container {
    max-width: 941px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/main';
@import 'blocks/titles';
@import 'blocks/consult';
@import 'blocks/forms';
@import 'blocks/slider';
@import 'blocks/catalog';

@import 'base/media';