.button {
    width: max-content;
    padding: 24px 45px 24px 45px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
    background-color: #00c2f0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    a {
        color: #ffffff;
        text-decoration: none;
    }
}