.usp {
    height: 700px;
    background: url(../img/1/1bg.png) center (center / cover) no-repeat;
    position: relative;
    &__static {
        display: flex;
        position: absolute;
        top: 39px;
        // right: 50%;
        // transform: translateX(-50%);
        height: inherit;
        width: inherit;
        justify-content: space-between;
        
    }
    &-nav {
        &__list {
            margin-top: 25px;
            display: flex;
            list-style-type: none;
            flex-direction: row;
            width: 540px;
        }
        &__li {
            padding-left: 42px;
            a {
            color: #ffffff;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            }
            &:first-child {
                padding: 0;
            }
        }
    } 
    &-s {
        &1 {
            display: grid;
            grid-template: 1fr / 525px auto;
            column-gap: 183px;
            // width: inherit;
            // height: 81%;
            position: absolute;
            bottom: 0;
            justify-content: space-between;
            article {
                display: flex;
                flex-direction: column;
                margin-top: 106px;
                // padding-right: 147px;
            }
            &__title {
                color: #ffffff;
                font-size: 41px;
                font-weight: 900;
                text-align: left;
            }
            &__descr {
                margin-top: 26px;
                color: #ffffff;
                font-size: 24px;
                font-weight: 300;
                text-align: left;
                span {
                    font-weight: 400;
                }
            }
            &__button {
                margin-top: 36px;
            }
            &__illustration {
                img {
                    height: 100%;
                }
            }
        }
    }  
    &__slider-interface {
        position: absolute;
        width: 106px;
        height: 11px;
        left: 50%;
        bottom: 68px;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    &-si {
        &__round {
            width: 11px;
            height: 11px;
            border: 1px solid #ffffff;
            border-radius: 100%;
        }
        .active {
            background-color: #ffffff;
        }
        // &__arrowr, &__arrowl {
        //     cursor: progress;
        // }
        &__arrowr {
            margin-left: 11px;
        }
        &__arrowl {
            margin-right: 11px;
        }
    }
}
@media (max-width: 1200px) {
    .usp {
        &-s1 {
            column-gap: 40px;
            grid-template-columns: 425px auto;
        }
        &__slider {
            display: flex;
            justify-content: center;
        }
        &__slider-interface {
            top: 145px;
        }
    }
};