.about {
    padding: top 120px;
    padding-top: 120px;
    &__wrap {
        display: grid;
        grid-template: 243px 357px / 400px 670px; 
        column-gap: 70px;
        row-gap: 40px;
    }
    .line {
        margin: 0;
    }
    &__img {
        grid-row-start: 1;
        grid-row-end: 3;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__subtitle {
        position: relative;
        padding-left: 12px; 
        @include before_circle;
    }
    &__me {
        padding-top: 6px;
        grid-column-start: 2;
        grid-row-end: 2;
        width: 100%;
    }
    &__text {
        padding-top: 20px;
        color: #000;
        font-size: 14px;
        font-weight: 500;
    }
    &__stack {
        display: grid;
        grid-template: 94px 94px / repeat(2, 260px);
        row-gap: 40px;
        column-gap: 50px;
    }
    &__stackitem {
        display: grid;
        grid-template-columns: 40px 200px;
        column-gap: 20px;
        &__title {
            grid-column-start: 2;
            font-size: 14px;
            font-weight: 700;
        }
        &__descr {
            margin-top: 6px;
            grid-column-start: 2;
            font-size: 12px;
            font-weight: 500;
        }
        &__icon {
            position: relative;
            grid-row: 1/3;
            padding: 15px 0 0 15px;
            @include before_circle;
            &:before {
                top: 0;
            }
        }
    }
}