.button {
    background: $main_color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 135px;
    height: 45px;
    border: none;
    a {
        font-size: 14px;
        font-weight: 700;
        color: #000;
        text-decoration: none;
        &:hover {
            color: #000;
        }
    }
}