.elemcon {
    position: relative;
}
.circle {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: $main_color;
    z-index: 0;
}
.line {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    &_black {
        width: 70px;
        height: 2px;
        background-color: black;
        margin-left: 15px;
    }
}