.exp {
    margin-top: 126px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrap {
        margin-top: 60px;
        display: grid;
        grid-template: 30px repeat(2, minmax(130px, 1fr)) / 1fr 1fr;
        row-gap: 45px;
        column-gap: 107px;
    }
    &__column-title {
        position: relative;
        font-size: 20px;
        font-weight: 700;
        grid-row: 1 / 2;
        padding-left: 43px;
        &:before {
            content: '';
            width: 15px;
            height: 15px;
            background-color: $main_color;
            border-radius: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }
    &-item {
        position: relative;
        padding-left: 43px;
        grid-row: span 1;
        &:before {
            content: '';
            position: absolute;
            top: -53px;
            left: 7px;
            height: 135%;
            width: 1px;
            background-color: #000;
        }
        &__head {
            padding-left: 56px;
            &:before {
                content: '';
                position: absolute;
                top: 20px;
                left: 8px;
                width: 35px;
                height: 1px;
                background-color: #000;
            }
        }
        &__icon {
            position: absolute;
            top: 14px;
            left: 60px;
            width: 40px;
            @include before_circle;
            &:before {
                top: -37%;
                left: -17px;
            }
        }
        &__title {
            font-size: 14px;
            font-weight: 700;
        }
        &__subtitle {
            font-size: 12px;
            line-height: 18px;
        }
        &__descr {
            padding-top: 12px;
            font-size: 12px;
        }
    }
}