.price {
    margin-top: 66px;
    &__header {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__grid {
        padding-top: 60px;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 366px);
        row-gap: 15px;
        justify-content: space-between;
    }
    &__item {
        padding-left: 25px;
        display: grid;
        grid-template: 21px 18px / repeat(2, auto);
    }
    &__title {
        position: relative;
        font-size: 14px;
        font-weight: 700;
        &:before {
            content: '';
            position: absolute;
            top: 3px;
            left: -25px;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background-color: $main_color;
        }
    }
    &__price {
        justify-self: end;
        font-size: 14px;
        font-weight: 700;
    }
    &__descr {
        grid-column: span 2;
        font-size: 12px;        
    }       
}