.promo {
    min-height: calc(100vh - 206px);
    background: url('../img/Background.jpg') center (center / cover) no-repeat;
    position: relative;
    padding-top: 206px;
    &__btns {
        margin-top: 25px;
        display: flex;
        align-items: baseline;
    }
    &__about {
        color: #000;
        text-decoration: none;
        padding-left: 44px;
    }

    &-socials {
        width: 339px;
        height: 20px;
        position: absolute;
        left: -125px;
        top: 50%;
        display: flex;
        align-items: center;
        transform: rotate(-90deg);
        z-index: 1;
        &__text {
            font-size: 16px;
            font-weight: 700;
        }
        &__icon {
            width: 20px;
            height: 20px;
            margin-left: 15px;
            &s {
                height: 20px
            }
        }
    }

    &-hamburger {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}