.promo {
    min-height: 100vh;
    background: url('../img/Background.jpg') no-repeat 50%/cover;
    position: relative;
    padding-top: 205px;
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__title {
        width: 532px;
        margin-top: 10px;
    }
    &__btns {
        margin-top: 25px;
        width: 250px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    &__link {
        color: #000;
        font-weight: 700;
        text-decoration: none;
        &:hover {
            color: #000;
        }
    }

}