.title {
    font-weight: 700;
    line-height: 60px; /* 166.667% */
    &_fs14 {
        font-size: 14px;
        line-height: 21px;
    }
    &_fs16 {
        font-size: 16px;
        line-height: 24px;
    }
    &_fs36 {
        font-size: 36px;
    }
    &_fs48 {
        font-size: 48px;
    }
}
