.button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #c70101;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s all;
    &:hover {
        box-shadow: 2px 2px 20px #00000096;
    }
    &_main {
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_submit {
        width: 100%;
        height: 55px;
        font-size: 16px;
    }
    &_min {
        width: 131px;
        height: 40px;
        font-size: 14px;
    }
}