.footer {
    position: relative;
    &__info {
        width: 460px;
        height: 270px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        background-color: #c70101;
    }
    &__address {
        margin-top: 50px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 0;
    }
    &__phone {
        display: block;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        line-height: 91px;
        text-align: center;
        text-decoration: none;
    }
    &__socials {
        display: flex;
        justify-content: center;
        margin-top: 2px;
    }
    &__round {
        width: 50px;
        height: 50px;
        border: solid 2px #ffffff;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        transition: 0.5s all;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            cursor: pointer;
            box-shadow: 2px 2px 20px #5d0000;
        }
    }
}