.promo {
    min-height: 650px;
    background: url('./../img/bg/header.png') center (center / cover) no-repeat;
    padding: 21px 0 92px 0;
    &__header {
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__subheader {
        color: #ffffff;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
        margin-top: 98px;
    }
    &__icons {
        display: flex;
        justify-content: center;
        margin: 61px 0 67px 0;
        width: 425px;
        justify-content:space-between;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
    &__icon {
        display: flex;
        width: 108px;
        flex-direction: column;
        align-items: center;
        img {
            display: block;
            margin-bottom: 21px;
        }
    }
    &__link {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        margin-top: 18px;
        a {
            text-transform: uppercase;
            text-decoration: underline;
            color:#ffffff;
        }
    }
}